.container {
    width: 250px;
    clear: both;

    color:black;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .container input {
    width: 100%;
    clear: both;
  }

  #country-state {
    width: 100%;
    clear: both;
  }
  label {
    display: inline-block;
    width: 250px;
    text-align: left;
  }
  .con{
    background-color: #e6f0ff;
    background-image: ;
  }