.container {
    width: 250px;
    clear: both;

    color:black;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .container input {
    width: 100%;
    clear: both;
  }

  #country {
    width: 100%;
    clear: both;
  }
  #state {
    width: 100%;
    clear: both;
  }
  label {
    display: inline-block;
    width: 250px;
    text-align: left;
  }
  .con{
    background-color: #e6f0ff;
 
  }

  .button {
    background-color:black;
    color:white;  
    border: none;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    display:inline-block;
    margin: 10px 2px;
    cursor:pointer;
  }

  input {
    font: inherit;
    padding: 0.2em 0.5em;
  }
 select{
  font: inherit;
  padding:  0.2em 0.5em;;
 }
  * {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}