@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* .menu {
    @apply text-slate-500 text-lg hover:bg-green-500 px-4 py-2 hover:rounded-full hover:text-white transform ease-in-out duration-200 border-green-500
}

.btnStyle {
    @apply font-body border border-slate-300 py-2 px-16 rounded-full transform hover:scale-110 duration-100 my-3 md:my-0 m-2
} */