.navbar {
  font-size: 0px;
  letter-spacing: 0;
  word-spacing: 0px;
  line-height: 0;
  display: block;
  visibility: visible;
  overflow: visible;
  -webkit-backface-visibility: hidden;
  }

  
  /* Navbar links */
  .navbar a {
    float: right;
    text-align: center;
    padding: 12px;
    color: black;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Navbar links on mouse-over */
  .navbar a:hover {
    color:black;
  }

  /* Current/active navbar link */
  .active {
    background-color: #04AA6D;
  }
  

  @media screen{

.navbar {
  font-size: 0px;
  letter-spacing: 0.5rem;
  word-spacing: 5px;
  line-height: 0;
  display: block;
  visibility: visible;
  overflow: visible;
  -webkit-backface-visibility: hidden;
  }

.navbar a {
    float: right;
    text-align: center;
    padding: 10px;
    color: black;
    text-decoration: none;
    font-size: 10px;
  }
  .active {
    background-color: #04AA6D;
  }

  }